body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
}

h1,
h2,
p {
    text-align: center;
}

h1,
h2 {
    /* Fallbacks are used in instances where the initial is not found/available. */
    font-family: Impact, serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.menu {
    /* 80% the width of its parent element (body) */
    width: 80%;
    background-color: burlywood;
    /* Center */
    margin: 0px auto;
    padding: 20px;
    max-width: 500px;
}

.flavor,
.dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

/* p element inside a element with class value 'item' */
.item p {
    /* Display as inline, but width and height can change */
    display: inline-block;
}

.established {
    font-style: italic;
}