html {
    box-sizing: border-box;
}

/* 
    ::before -> creates a pseudo-element which is 
    the first child of the selected element.
    
    ::after -> creates a pseudo-element which is the last child 
    of the selected element.
*/
*,
*::before,
*::after {
    /* Tell the targeted elements to use the same value as 
       the parent element */
    box-sizing: inherit;
}

#piano {
    position: relative;
    margin: 80px auto;
    padding: 90px 20px 0 20px;
    
    width: 992px;
    height: 290px;

    border-radius: 10px;
    background-color: #00471b;
}

.keys {
    padding-left: 2px;

    width: 949px;
    height: 180px;

    background-color: #040404;
    overflow: hidden;
}

.key {
    position: relative;
    margin: 2px;
    float: left;

    width: 41px;
    height: 175px;

    background-color: #ffffff;
    border-radius: 0 0 3px 3px;
}

/* After each div with class value 'key black--key', add a blank content */
.key.black--key::after {
    position: absolute;
    left: -18px;
    content: "";

    width: 32px;
    height: 100px;

    background-color: #1d1e22;
    border-radius: 0 0 3px 3px;
}

.logo {
    position: absolute;
    top: 23px;

    width: 200px;
}

/* Will be applied when the viewport is 768px wide and below */
@media (max-width: 768px) {
    #piano {
        width: 358px;
    }

    .keys {
        width: 318px;
    }

    .logo {
        width: 150px;
    }
}

/* Apply if the browser window is wider than 769px but smaller than 1199px */
@media (min-width: 769px) and (max-width: 1199px) {
    #piano {
        width: 675px;
    }

    .keys {
        width: 633px;
    }
}
